body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: monospace;
    color: #fff;
}

main {
    background: #fff;
    color: #000;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}

a {
    color: #fff;
}

nav {

    background-color: #333;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s
}

nav ul {
    color: #fff;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: #fff;
    display: inline;
    /* Muestra los elementos de la lista en línea */
    margin-right: 20px;
    /* Espaciado entre elementos */
}

nav ul li a {

    /* Color del enlace */
    text-decoration: none;
    /* Elimina la decoración de subrayado predeterminada */
}

nav ul li a:hover {
    text-decoration: underline;
    /* Agrega subrayado al pasar el mouse sobre el enlace */
}

section {
    text-align: center;
    align-items: center;
}

.imagen-referencia {
    border: 2px solid #000;
    /* Borde negro de 2px */
    border-radius: 8px;
    /* Bordes ligeramente redondeados */
}

section img {
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
}

.color2 {
    background-color: #333;
    color: #fff;
}

.tarjeta {
    padding: 10px;

}

/* CSS form */

.error {
    color: red;
}

/* Estilos generales del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.h2-form {
    text-align: center;
    color: #333;
}

.div-form {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.error {
    color: red;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;

}

/* Estilos para las celdas */
table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Estilos para las celdas de la primera columna */
table td:first-child {
    font-weight: bold;
    width: 25%;
}

/* Estilos para resaltar el texto en negrita */
table strong {
    font-weight: bold;
}


/* fdvcvd */


/* Estilos para la lista de parques */
#lista-parques {
    list-style: none;
    padding: 0;
}

/* Estilos para los elementos de la lista */
#lista-parques li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

/* Estilos para el texto en negrita */
#lista-parques strong {
    font-weight: bold;
}

/* Estilos para las ubicaciones */
#lista-parques .ubicacion {
    color: #666;
}

/* Estilos para las atracciones destacadas */
#lista-parques .atracciones {
    color: #777;
}

/* Estilos para la tabla en PC de escritorio */
@media (min-width: 1200px) {

    table th,
    table td {
        padding: 15px;
        font-size: 16px;
    }
}

/* Estilos para la tabla en tablet */
@media (max-width: 1199px) and (min-width: 768px) {

    table th,
    table td {
        padding: 12px;
        font-size: 14px;
    }
}

/* Estilos para la tabla en celular */
@media (max-width: 767px) {

    table th,
    table td {
        padding: 10px;
        font-size: 12px;
    }
}